src/smart/flows.json
[
    {
        "id": "acf308dba7f4d988",
        "type": "ui_gauge",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 7,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "pH",
        "label": "pH",
        "format": "{{value}}",
        "min": 0,
        "max": "14",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "7f8882ad566a4c1f",
        "type": "ui_gauge",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 9,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "토양수분",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "6223f0f0f2459f75",
        "type": "ui_gauge",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "습도",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "ee0c2ef93de90a73",
        "type": "ui_gauge",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "온도",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "2664256ea1e67d2e",
        "type": "ui_chart",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 2,
        "width": 10,
        "height": 4,
        "label": "온도(°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c4c31d260324fcd9",
        "type": "ui_chart",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 4,
        "width": 10,
        "height": 4,
        "label": "습도(%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "ce52f964ef9bd370",
        "type": "ui_chart",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 8,
        "width": 10,
        "height": 4,
        "label": "pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2b46036a5e6c94f0",
        "type": "ui_chart",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 10,
        "width": 10,
        "height": 4,
        "label": "토양수분(%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c835d077dfee07a3",
        "type": "serial in",
        "z": "abd4715599fb0c4a",
        "name": "ARDUINO",
        "serial": "19ee8d7f3102165d",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "bf9aefc494f06d74",
                "ede98b854b736763",
                "77ead390d0836a60",
                "67b8d5e5d9219baf",
                "03c1bdb45fa7c1a3",
                "a406b34d90055e80"
            ]
        ]
    },
    {
        "id": "bf9aefc494f06d74",
        "type": "function",
        "z": "abd4715599fb0c4a",
        "name": "function 1",
        "func": "// 시리얼로부터 받은 데이터를 쉼표로 분리하여 배열로 저장\nlet data = msg.payload.split(\",\");\n// 첫 번째 값이 온도라고 가정하고 파싱\nlet temperature = parseFloat(data[0]);\n// 온도 데이터를 payload로 설정\nmsg.payload = temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 120,
        "wires": [
            [
                "ee0c2ef93de90a73",
                "2664256ea1e67d2e"
            ]
        ]
    },
    {
        "id": "ede98b854b736763",
        "type": "function",
        "z": "abd4715599fb0c4a",
        "name": "function 2",
        "func": "// 시리얼로부터 받은 데이터를 쉼표로 분리하여 배열로 저장\nlet data = msg.payload.split(\",\");\n// 두 번째 값이 습도라고 가정하고 파싱\nlet humidity = parseFloat(data[1]);\n// 습도 데이터를 payload로 설정\nmsg.payload = humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 180,
        "wires": [
            [
                "6223f0f0f2459f75",
                "c4c31d260324fcd9"
            ]
        ]
    },
    {
        "id": "77ead390d0836a60",
        "type": "function",
        "z": "abd4715599fb0c4a",
        "name": "function 3",
        "func": "// 시리얼로부터 받은 데이터를 쉼표로 분리하여 배열로 저장\nlet data = msg.payload.split(\",\");\n// 다섯 번째 값이 pH 값이라고 가정하고 파싱\nlet pHValue = parseFloat(data[4]);\n// pH 데이터를 payload로 설정\nmsg.payload = pHValue;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 320,
        "wires": [
            [
                "acf308dba7f4d988",
                "ce52f964ef9bd370"
            ]
        ]
    },
    {
        "id": "03c1bdb45fa7c1a3",
        "type": "function",
        "z": "abd4715599fb0c4a",
        "name": "function 5",
        "func": "// 시리얼로부터 받은 데이터를 쉼표로 분리하여 배열로 저장\nlet data = msg.payload.split(\",\");\n// 세 번째 값이 이슬점이라고 가정하고 파싱\nlet dewPoint = parseFloat(data[2]);\n// 이슬점 데이터를 payload로 설정\nmsg.payload = dewPoint;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 240,
        "wires": [
            [
                "7253aa1d7a4b5910",
                "eac55a02eb8301fa"
            ]
        ]
    },
    {
        "id": "7253aa1d7a4b5910",
        "type": "ui_gauge",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 5,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "이슬점",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "eac55a02eb8301fa",
        "type": "ui_chart",
        "z": "abd4715599fb0c4a",
        "name": "",
        "group": "798d1aa2c5a4b706",
        "order": 6,
        "width": 10,
        "height": 4,
        "label": "이슬점(°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "6",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "67b8d5e5d9219baf",
        "type": "debug",
        "z": "abd4715599fb0c4a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 540,
        "wires": []
    },
    {
        "id": "a406b34d90055e80",
        "type": "function",
        "z": "abd4715599fb0c4a",
        "name": "function 6",
        "func": "// 시리얼로부터 받은 데이터를 쉼표로 분리하여 배열로 저장\nlet data = msg.payload.split(\",\");\n// 네 번째 값이 토양 수분 상태라고 가정하고 파싱\nlet soilStatus = data[3].trim(); // 수분 상태는 문자열로 취급\n\nlet soilStatusValue;\n\nswitch (soilStatus) {\n    case 'ERR':\n        soilStatusValue = 0;\n        break;\n    case 'DRY':\n        soilStatusValue = 30;\n        break;\n    case 'WET':\n        soilStatusValue = 60;\n        break;\n    case 'VW':\n        soilStatusValue = 100;\n        break;\n    default:\n        soilStatusValue = -1; // 잘못된 상태를 표시할 때 -1로 설정\n}\n\nmsg.payload = soilStatusValue;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 380,
        "wires": [
            [
                "7f8882ad566a4c1f",
                "2b46036a5e6c94f0"
            ]
        ]
    },
    {
        "id": "798d1aa2c5a4b706",
        "type": "ui_group",
        "name": "센서",
        "tab": "01b3d775e64f8cc3",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "19ee8d7f3102165d",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "01b3d775e64f8cc3",
        "type": "ui_tab",
        "name": "농아리 스마트팜 시스템",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]